.vscode-dark,
.vscode-dark .markdown-body {
        --color-font: White;
        /* --color-background-emphasis: #1f2933; */
        --color-background-emphasis: #272f37;
        --color-background: #151b22;
        --color-background-muted: #0a0e11;
        /* --color-background-subtle: #3e4c59; */
        --color-border: #52606d;
        /* --color-border-muted: #616e7c; */
        --color-border-subtle: #7b8794;
        --color-heading-default: OliveDrab;
        --color-heading-muted: Olive;
        --color-heading-subtle: DarkOliveGreen;
        --color-danger: red;
        --color-syntax: Goldenrod;
}
.vscode-light,
.vscode-light .markdown-body {
        --color-font: Black;
        --color-background-emphasis: White;
        --color-background: GhostWhite;
        --color-background-muted: WhiteSmoke;
        /* --color-background-subtle: WhiteSmoke; */
        --color-border: LightGray;
        /* --color-border-muted: DarkGray; */
        --color-border-subtle: Gray;
        --color-heading-default: DarkSeaGreen;
        --color-heading-muted: MediumSeaGreen;
        --color-heading-subtle: DarkSeaGreen;
        --color-danger: red;
        --color-syntax: DarkGoldenrod;
}
.vscode-body {
    /* margin: 0; */
    padding-right:0;
    padding-left:0;
    background-color: var(--color-background);
    .markdown-body {
        .mermaid-wrapper {/* Mermaidプレビューがインデントの分だけ右側にはみ出す問題への対処 */
            width: unset; 
        }
        #markdown-mermaid {/* プレビューの先頭にMermaid初期化用spanが生成される問題への対処 */
            display: none;
        }
        > :nth-child(1 of :not(#markdown-mermaid)) {/* プレビューの先頭にMermaid初期化用spanが生成される問題への対処 */
            margin-block-start: 0;
        }
    }
    /* Windows版VS Codeで縦スクロールバーが出ない下限値49pxに余裕を持たせる */
    & pre:has(> .code-block-copy-button) {
        box-sizing: border-box;
        min-block-size: 50px;
    }
} 

html {
    padding: 0;
}
