/* 印刷用スタイル */

@media print {
    .markdown-body h1,
    .markdown-body h2 {
        print-color-adjust: exact;
        -webkit-print-color-adjust: exact;
    }

    .markdown-body h1 {
        margin-top: 50vh;
    }

    .markdown-body h1 + p {
        text-align: center;
    }

    .markdown-body h2 {
        page-break-before: always;
    }
}