@media print {
    .markdown-body {

        >h1:first-child {
            margin-top: 50vh;

            +p {
                text-align: center;
            }
        }

        h2 {
            page-break-before: always;
        }
    }
}